* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo-nike {
  display: flex;
  height: 5rem;
  border-radius: 1rem;
}

.foto-Mjordan {
  background-image: url("../img/HMBIHFNKXZFUHAUDUGW5FIR2YA.jpg");
  background-size: cover;
  height: 90vh;
}

.pelotita {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.pelotita_jordan1 {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.pelotita_jordan2 {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.pelotita_jordan3 {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.pelotita_jordan4 {
  display: inline-block;
  margin: 0 0.5rem;
  animation: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.foto-j1 {
  width: 100%;
  border: 0.15rem solid;
  border-color: rgb(220, 53, 70);
  padding: 3rem;
  border-radius: 5px;
}

.parrafo-j1 {
  display: flex;
  align-items: center;
  border: 0.15rem solid;
  border-color: rgb(220, 53, 70);
  border-radius: 5px;
  font-weight: bold;
  padding: 8px;
  margin-top: 7px;
  color: rgb(220, 53, 70);
}

.fotoj3 {
  width: 100.2%;
}

.fotoj4 {
  width: 93.5%;
}

.foto-j2 {
  width: 100%;
  border: 0.15rem solid;
  border-color: rgb(220, 53, 70);
  border-radius: 5px;
}

.parrafo-j2 {
  display: flex;
  align-items: center;
  border: 0.15rem solid;
  border-color: rgb(220, 53, 70);
  border-radius: 5px;
  font-weight: bold;
  padding: 8px;
  margin-top: 7px;
  color: rgb(220, 53, 70);
}

.foto-j3 {
  width: 100%;
  border: 0.15rem solid;
  border-color: rgb(220, 53, 70);
  border-radius: 5px;
  margin-bottom: 0.3rem;
}

.parrafo-j3 {
  display: flex;
  align-items: center;
  border: 0.15rem solid;
  border-color: rgb(220, 53, 70);
  border-radius: 5px;
  font-weight: bold;
  padding: 8px;
  margin-top: 7px;
  color: rgb(220, 53, 70);
}

.foto-j4 {
  width: 100%;
  border: 0.15rem solid;
  border-color: rgb(220, 53, 70);
  padding: 3rem;
  border-radius: 5px;
}

.parrafo-j4 {
  display: flex;
  align-items: center;
  border: 0.15rem solid;
  border-color: rgb(220, 53, 70);
  border-radius: 5px;
  font-weight: bold;
  padding: 8px;
  margin-top: 7px;
  color: rgb(220, 53, 70);
}

::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-thumb {
  background: rgb(142, 15, 15);
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb ::-webkit-scrollbar-thumb:hover {
  background: rgba(142, 15, 15, 0.8);
}
::-webkit-scrollbar-thumb ::-webkit-scrollbar-track {
  background: rgb(220, 53, 70);
}

body {
  overflow-x: hidden;
}

.comercial-j1 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.parrafo-ban-j1 {
  display: flex;
  align-items: center;
  border: 0.15rem solid;
  border-color: rgb(220, 53, 70);
  border-radius: 5px;
  font-weight: bold;
  padding: 8px;
  color: rgb(220, 53, 70);
  margin: 7px;
}

.imagenMjordan-j2 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.7rem;
}

.parrafoMjordan-j2 {
  display: flex;
  align-items: center;
  border: 0.15rem solid;
  border-color: rgb(220, 53, 70);
  border-radius: 5px;
  font-weight: bold;
  padding: 8px;
  color: rgb(220, 53, 70);
  margin: 7px;
}

.jordan3-comercial {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.parrafo-comercialJ3 {
  display: flex;
  align-items: center;
  border: 0.15rem solid;
  border-color: rgb(220, 53, 70);
  border-radius: 5px;
  font-weight: bold;
  padding: 8px;
  color: rgb(220, 53, 70);
  margin: 7px;
}

.contenedor-fotoj4 {
  display: flex;
}

.foto-MjordanJ4 {
  width: 100%;
  margin-bottom: 5px;
}

.parrafo-MJ4 {
  display: flex;
  align-items: center;
  border: 0.15rem solid;
  border-color: rgb(220, 53, 70);
  border-radius: 5px;
  font-weight: bold;
  padding: 8px;
  color: rgb(220, 53, 70);
  margin: 5px;
}

.imagen-MJJ4 {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-bottom: 0.5rem;
  padding-left: 5px;
}

.imagen-MJJ4-2 {
  padding: 10px;
}

footer {
  background-color: rgb(220, 53, 70);
  color: #fff;
  padding: 20px;
  text-align: center;
}
footer .footerp {
  margin: 0;
}
footer .link-tiendajordan:hover {
  color: black;
}
footer .link-tiendajordan {
  font-weight: bold;
  color: rgb(139, 29, 29);
}

.links-j2 {
  text-decoration: none;
  color: red;
}

.links-j2:hover {
  color: rgb(139, 29, 29);
}

footer {
  position: sticky;
}

.link-j4 {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.link-j4:hover {
  color: rgb(139, 29, 29);
}

.foto-j1-1985 {
  width: 80%;
}

.foto-j4-1989 {
  width: 80%;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.columna-comparacion {
  flex: 1;
  padding: 20px;
  border: 2.5px solid rgb(220, 53, 70);
  border-radius: 5px;
  text-align: center;
  background-color: #ffffff;
}

.h2-comparacion {
  text-align: center;
  border: 3px solid rgb(220, 53, 70);
  border-radius: 5px;
  padding: 0.2rem;
  background-color: rgb(220, 53, 70);
  color: white;
}

.h3-comparacion {
  text-align: center;
}

.parrafo-comparacion {
  font-weight: bold;
}

nav-link {
  transition: all 1ms;
}

.nav-link:hover {
  border-bottom: 2px solid white;
  color: white;
}
.nav-link:hover .nav-link active {
  color: white;
}

@media screen and (max-width: 480px) {
  .foto-Mjordan {
    background-image: url(../img/imagenMjordan-recortada.png);
  }
  .fotoj4 {
    width: 100%;
  }
  .fotoj3 {
    width: 100%;
  }
  ::-webkit-scrollbar {
    background: none;
  }
}/*# sourceMappingURL=estilos.css.map */