footer {
    background-color: $mainColor;
    color: #fff; 
    padding: 20px; 
    text-align: center;
    
    .footerp {
        margin: 0;
    }

      .link-tiendajordan:hover {
        color: black;
      }
    .link-tiendajordan{
        font-weight: bold;
        color: rgb(139, 29, 29);
    }
  } 