.parrafo-j1{
    display: flex;
    align-items: center;
    border: 0.15rem solid;
    border-color: $mainColor;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px;
    margin-top: 7px;
    color: $mainColor;
}

.parrafo-j2{
    display: flex;
    align-items: center;
    border: 0.15rem solid;
    border-color: $mainColor;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px;
    margin-top: 7px;
    color: $mainColor;
}

.parrafo-j3{
    display: flex;
    align-items: center;
    border: 0.15rem solid;
    border-color: $mainColor;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px;
    margin-top: 7px;
    color: $mainColor;
}

.parrafo-j4{
    display: flex;
    align-items: center;
    border: 0.15rem solid;
    border-color: $mainColor;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px;
    margin-top: 7px;
    color: $mainColor;
}

.parrafo-ban-j1{
    display: flex;
    align-items: center;
    border: 0.15rem solid;
    border-color: $mainColor;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px;
    color: $mainColor;
    margin: 7px;
}

.parrafoMjordan-j2{
    display: flex;
    align-items: center;
    border: 0.15rem solid;
    border-color: $mainColor;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px;
    color: $mainColor;
    margin: 7px;
}

.parrafo-comercialJ3{
    display: flex;
    align-items: center;
    border: 0.15rem solid;
    border-color: $mainColor;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px;
    color: $mainColor;
    margin: 7px;
}

.parrafo-MJ4{
    display: flex;
    align-items: center;
    border: 0.15rem solid;
    border-color: $mainColor;
    border-radius: 5px;
    font-weight: bold;
    padding: 8px;
    color: $mainColor;
    margin: 5px;    
}