.pelotita {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;

}
.pelotita_jordan1 {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.pelotita_jordan2 {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.pelotita_jordan3 {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.pelotita_jordan4 {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: bounce;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}